/* ===== Base ===== */

.reveal {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  font-size: 30px;
  background-color: #eef2f7; /* fundo suave, cinza-azulado pastel */
  color: #0f172a;
}

.reveal .slides section li{
    text-align: justify;
}

.reveal .slides {
  text-align: justify;
}

/* ===== Títulos ===== */
.reveal h1 {
  font-size: 2.4em;
  font-weight: 800;
  color: #336699;
}

.reveal h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #336699;
}

.reveal h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #336699;
}


/* ===== Slide de título ===== */
.reveal .title-slide {
  background: linear-gradient(
    135deg,
    #2563eb99 0%,   /* azul com transparência */
    #7c3aed99 50%,   /* roxo com transparência */
    #05966999 100%   /* verde com transparência */
  );
  color: #336699;
}

.reveal .title-slide h1,
.reveal .title-slide h2,
.reveal .title-slide p {
  color: white;
}

/* ===== Texto ===== */
.reveal p,
.reveal li {
  line-height: 1.45;
}

/* ===== Listas ===== */
.reveal ul li::marker {
  color: #2563eb;
}

/* ===== Caixas coloridas ===== */
.box-blue {
  border-left: 8px solid #2563eb;
  background: #eff6ff;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.box-purple {
  border-left: 8px solid #7c3aed;
  background: #f5f3ff;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.box-green {
  border-left: 8px solid #059669;
  background: #ecfdf5;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.box-orange {
  border-left: 8px solid #ea580c;
  background: #fff7ed;
  padding: 0.7em;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* ===== Destaques ===== */
.highlight-blue {
  color: #2563eb;
  font-weight: 700;
}

.highlight-purple {
  color: #7c3aed;
  font-weight: 700;
}

.highlight-green {
  color: #059669;
  font-weight: 700;
}

.highlight-orange {
  color: #ea580c;
  font-weight: 700;
}

/* ===== Código ===== */
.reveal pre code {
  font-size: 0.78em;
  background: #020617;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 1em;
}

/* ===== Rodapé ===== */
.reveal .footer {
  font-size: 0.5em;
  color: #64748b;
}

