.box-grey {
  background-color: #F3F4F6;
  border-left: 6px solid black;
  padding: 20px;
  border-radius: 10px;
}

.box-greypeq {
  font-size: 0.9em;
  background-color: #F3F4F6;
  border-left: 6px solid black;
  padding: 20px;
  border-radius: 10px;
}

.reveal h2 {
  font-size: 1.3em;
}

.box-espaco > ul > li {
  margin-bottom: 30px !important;
}

.box-maisespaco > ul > li {
  margin-bottom: 30px !important;
}

.panel-tabset a {
  color: black !important;
}

.panel-tabset a.active {
  color: black !important;
  font-weight: bold;
}

.scroll-amostras {
  height: 400px;
  overflow-y: auto;
}